body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #333;
    color: #fff;
    padding: 1rem;
}

header h1 {
    margin: 0;
}

header p {
    font-size: 1.2rem;
}

section {
    padding: 2rem;
    margin: 2rem 0;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

section#about img {
    width: 150px;
    border-radius: 50%;
}

section h2 {
    margin-top: 0;
}

section#skills ul {
    list-style-type: none;
    padding: 0;
}

section#skills li {
    background-color: #e4e4e4;
    margin: 0.5rem 0;
    padding: 0.5rem;
    border-radius: 4px;
}

.project {
    margin: 1rem 0;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 5px;
    bottom: 0;
    width: 100%;
}
